.button-container {
    display: flex;
    gap: 15px;
}


.add-button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subtract-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button {
    background-color: rgb(0, 1, 3);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Optional: Add hover effect */
.add-button:hover, .subtract-button:hover {
    opacity: 0.8;
}


.page-display {
    background-color: #14f8ed; /* Light Orange */
    padding: 20px;
    min-height: 100vh; /* Makes it cover the whole viewport height */
}
